<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col 30 s12">
          <h5 class="black-text">Mustafa ALP</h5>
          <p class="black-text text-lighten-2"> <a href="https://www.alpmusti.com" target="_blank">alpmusti</a>
          <br/>
          Eposta : <a href="mailto:alpmusti.tr@gmail.com" class="grey-text text-lighten-4">alpmusti.tr@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Copyright
      <a class="grey-text text-lighten-4 right" href="/">Mustafa ALP</a>
      </div>
    </div>
</footer>
